zai-sdk
pydantic-settings
uvicorn[standard]
fastapi
bcrypt
openai
tiktoken
psycopg_pool
#psycopg
psycopg[binary]
python-multipart
python-docx
python-pptx
python-pdf
PyMuPDF
#paddleocr>=2.9
#paddlepaddle>=3.0
redis
jieba
Pillow
llama-index
llama-parse
llama-index-vector-stores-postgres